@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.carousel-inner {
    border-radius: 5px;
}

.cart {
  font-size: 24px;
}

i {
  font-size: 16px;
}

.carousel img {
  size: cover;
}