/* Page fade-in */
body {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

body.page-loaded {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.carousel-inner {
    border-radius: 5px;
}

.cart {
  font-size: 24px;
}

i {
  font-size: 16px;
}

body a {
  text-decoration: none;
}

body img {
  position: center;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}



@media (min-width: 990px) {
.navbar-brand {
  margin-left: 10%;
}
}

body img {
  position: center;
  size: cover;
}
