@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.carousel-inner {
    border-radius: 5px;
}

.cart {
  font-size: 24px;
}

i {
  font-size: 16px;
}

body a {
  text-decoration: none;
  color: black;
}

body .carousel-index img {
  position: center;
  size: cover;
}

